:host {
  position: relative;
  padding: 0px;
}
.dialog-toolbar {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
#customerForm {
  display: flex;
  flex-direction: column;
  .nameQrCode,
  #customerAddress,
  #invoicePhone,
  #dateSellingPlatform {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    mat-form-field,
    #printingQRCode {
      width: 40%;
    }
    #printingQRCode {
      text-align: right;
    }
  }
}
mat-cell {
  mat-form-field {
    width: 80%;
  }
}
