:host {
  text-align: center;
}
.form.div {
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
  background: wheat;
  padding-bottom: 20px;
}
form {
  margin: 20px 0px;
}
mat-form-field {
  width: 45%;
}
mat-form-field:nth-of-type(1) {
  margin-right: 5%;
}
mat-form-field:nth-of-type(3) {
  margin-right: 5%;
}
.addingSpinner {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #423f3f73;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
